li {
    list-style: none;
}

.header { 
    box-shadow: 3px -4px 8px 6px #ccc;
}

.header img {
    height: 50px;
}

.main-menu-container {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}

.main-menu__nav li {
    margin-left: 20px;
    cursor: pointer;
}

.main-menu__nav .main-menu__item--active {
    font-weight: 500;
    color: #bbbbbb;
    cursor: default;
}

.main-menu__pages {
    display: flex;
}

.main-menu__item:hover {
    transform: scale(1.03, 1.03);
    color: #b3b3b3;
}

.fa-facebook:hover {
    color: blue;
}

.fa-instagram:hover {
    color: rgb(154, 46, 255);
}

.fa-youtube:hover {
    color: red;
}

/* mobile */
.hamburger-menu {
    display: none;
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    /* left: 0 !important; */
    right: 0;
}

.menu__btn {
    /* position: absolute; */
    position: fixed;
    right: 33px;
    width: 26px;
    cursor: pointer;
    z-index: 11;
}

.menu__btn > span {
    top: 14px;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    /* left: -100%; */
    right: -300px;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 10;
}

#menu__toggle:checked ~ .menu__box::before {
    content: '';
    display: block;
    position: absolute;
/*     width: 100%;
    height: 100%; */
    top: 0;
    bottom: 0;
    left: -800px;
    right: 300px;
    background: #61616181;
    z-index: 9;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
}
/* end mobile */

.main-menu__nav .socials {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 1340px) {
    .main-menu-container {
        margin: 0 30px;
    }
}

@media screen and (max-width: 1100px) {
    .main-menu__nav {
        position: relative;
        display: flex;
        align-items: center;
    }
    
    .main-menu__pages {
        display: none;
    }

    .hamburger-menu {
        position: relative;
        bottom: 7px;
        display: block;  
        width: 26px;
        margin-left: 40px;
    }

    .main-menu__nav .socials {
        order: -1;
    }
}

@media screen and (max-width: 400px) {
    .main-menu-container{
        height: 100px;
        margin: 0 7vw;
    }

    .main-menu__nav {
        flex-direction: column;
        bottom: 10px;
    }

    .main-menu__nav .socials {
        padding: 0;
    }

    .hamburger-menu {
        position: static;
    }

    .menu__box {
        /* left: -110%; */
        right: -100%;
    }

    .menu__btn>span {
        top: 20px;
    }
    
}